<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>


<body>
  <!-- GOOGLE PLUS SIGN IN-->


  <div id="signInButton">
    <span class="g-signin"
    data-scope="openid email"
    data-clientid="944750134904-itie9khnnfd772vhh8ka43v3tndlhd0c.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">
  </span>
</div>

<div id="result"></div>

<script>
  function signInCallback(authResult) {
    if (authResult['code']) {

  // Hide the sign-in button now that the user is authorized
  $('#signInButton').attr('style', 'display: none');

  $.ajax({
    type: 'POST',
    url: '/gconnect?state={{STATE}}',
    processData: false,
    data: authResult['code'],
    contentType: 'application/octet-stream; charset=utf-8',
    success: function(result) {
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
            window.location.href = "/";
          }, 4000);
        }
        else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        }
        else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
    }
  }); } }
</script>

<!--END GOOGLE PLUS SIGN IN -->


</body>

</html>